/* Features.css */

@keyframes slideInRotate {
    0% {
      transform: translate(50%, -50%) rotate(-90deg);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0) rotate(0deg);
      opacity: 1;
    }
  }
  
  .animate-slide-in {
    animation: slideInRotate 1.5s ease-out forwards;
  }
  